@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/** BODY */

body {
    font-size: 15px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
}

/** GRID */

.container {
    display: grid;
    grid-gap: 26px 30px;
    transform: scale(0.8);
    /* row / column */
    /* grid-template: 1px repeat(2, 1fr) / 50px repeat(4, 1fr) 50px; */
    grid-template-columns: 50px repeat(4, 1fr) 50px;
}

.card-1 {
    grid-area: 2 / 2 / 3 / 4;  /* row-start / column-start / row-end / column-end */
    background-color: hsl(263, 55%, 52%);
}

.card-2 {
    grid-area: 2 / 4 / 3 / 5;
    background-color: hsl(217, 19%, 35%);
}

.card-3 {
    grid-area: 3 / 2 / 4 / 3;
    background-color: hsl(0, 0%, 100%);
}

.card-4 {
    grid-area: 3 / 3 / 4 / 5;
    background-color: hsl(219, 29%, 14%);
}

.card-5 {
    grid-area: 2 / 5 / 4 / 6;
    background-color: hsl(0, 0%, 100%);
}

/** CARD */

.card {
    padding: 30px;
    cursor: pointer;
    border-radius: 10px;
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
    box-shadow: 20px 30px 50px -25px hsl(0, 0%, 81%);
}

.card:hover {
    transform: scale(1.05);
}

/** CARD HEADER */

.card_content-user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    z-index: 1000;
    position: relative;
}

.card__img-user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid white;
}

.border-1 {
    border: 3px solid #A775F1;
}

.border-2 {
    border: 3px solid hsl(217, 19%, 35%);
}

.border-3 {
    border: 3px solid hsl(263, 55%, 52%);
}

.card__name {
    margin: 0px 20px 3px;
    color: hsl(210, 46%, 95%);
}

.card__Verified {
    opacity: 50%;
    font-size: 13px;
    margin: 0px 20px;
    color: hsl(210, 46%, 95%);
}

/** CARD BODY */

.card__content-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card__title {
    z-index: 1000;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    color: hsl(210, 46%, 95%);
}

.card__comment {
    opacity: 70%;
    font-weight: 500;
    line-height: 25px;
    color: hsl(210, 46%, 95%);
}

.color-1 {
    color: hsl(219, 29%, 14%);
}

/** IMAGE QUOTATION */

.card__quotation {
    position: relative;
}

.card__img-quotation {
    right: 12%;
    top: -72px;
    /* left: 65%; */
    width: 130px;
    position: absolute;
}

/** ATTRIBUTION */

.attribution { 
    bottom: -95px;
    position: absolute;

    width: 100%;
    font-size: 15px;
    text-align: center;
    color: hsl(219, 29%, 14%);
}

.attribution a { 
    font-weight: 700;
    text-decoration: none;
    color: hsl(263, 55%, 52%);
}

/** RESPONSIVE WEB */
@media only screen and (max-width: 64em) {
    .container {
        grid-gap: 30px;
        transform: scale(1);
        grid-template-columns: 10px repeat(2, 1fr) 10px;
        /* grid-template-rows: 20px repeat(8, 1fr) 20px; */
        /* grid-template: 20px repeat(8, 1fr) 20px / 20px repeat(2, 1fr) 20px; */
    }
    
    .card-1 {
        grid-area: 2 / 2 / 4 / 4; /* row-start / column-start / row-end / column-end */
    }
    
    .card-2 {
        grid-area: 4 / 2 / 5 / 4;
    }
    
    .card-3 {
        grid-area: 5 / 2 / 6 / 4;
    }
    
    .card-4 {
        grid-area: 6 / 2 / 8 / 4;
    }
    
    .card-5 {
        grid-area: 8 / 2 / 10 / 4;
    }

    .card__img-quotation {
        top: -41px;
        /* right: 0; */
        width: 100px;
        position: absolute;
    }    
}